body{
    margin: 10px;
    background-color: rgba(242, 239, 248, 0.876);
}

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');


h1{
    font-size: 50px;
    font-family: 'Old Standard TT', serif;
    color: #270d50;
}

h3{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 35px;
}

p{
    font-size: 20px;
}

h4{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}